.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 70rem;
  margin: 8rem auto 5rem auto;
  gap: 5%;
}

.hero img {
  display: none;
  max-width: 20rem;
}

@media (min-width: 48rem) {
  .hero img {
    display: block;
  }
}

.hero .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.hero .text h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 800;
}

.hero .text h1 span {
  background: var(--red-500);
  color: var(--stone-100);
}

.hero .text p {
  margin: 0;
  font-size: 1.1rem;
  color: var(--stone-700);
}

.hero .text p span {
  color: var(--stone-900);
  font-weight: 600;
}

.hero .button {
  margin-top: 0.25rem;
}

.hero .button .icon {
  margin-left: 0.35rem;
  transform: scale(0.9) translateY(-1px);
}

.hero .text ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
}

.hero .text li {
  font-size: 1.1rem;
  color: var(--stone-700);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero .text ul .icon {
  color: var(--red-500);
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.3rem;
}

.testimonials {
  background: var(--stone-50);
  padding: 3rem 0;
}

.testimonials .inner {
  width: 90%;
  max-width: 70rem;
  margin: 0 auto;
}

.testimonials h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 3rem auto;
}

.testimonials h2 span {
  position: relative;
}

.testimonials .underline {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
}

.testimonials .list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;
  width: 100%;
  max-width: 30rem;
}

.testimonial .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red-500);
}

.testimonial p {
  margin: 0;
  font-size: 1.2rem;
  color: var(--stone-700);
}

.testimonial p span {
  color: var(--stone-100);
  background: var(--stone-800);
}

.testimonial .author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.testimonial .author img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.testimonial .author div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
}

.testimonial .author div p {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.7rem;
  gap: 0.2rem;
  color: var(--red-500);
}

.testimonial .author div p .icon {
  transform: translateY(2px);
}

.testimonial .author div .name {
  color: var(--stone-900);
  font-size: 1.1rem;
}

.example {
  margin: 3rem auto;
  width: 90%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example h2 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 3rem;
  width: 100%;
  text-align: center;
}

.example h2 span {
  background: var(--red-500);
  color: var(--stone-100);
}